<body>
    <div class="container">
        
    <form class="form" [formGroup]="form" (ngSubmit)="createPlanet()">
        <div class="form-title"><span>Create your</span></div>
         <div class="title-2"><span>Planet</span></div>
         <div class="input-container">
            <input 
            class="input-name" 
            type="text"
            name="name"
            placeholder="Enter Planet name"
            formControlName="name">
          </div>
          <ng-container *ngIf="form.get('name')?.touched">
            <p class="error" *ngIf="form.get('name')?.errors?.['required']">
            Name is required!
            </p>
          </ng-container>

         <div class="input-container">
           <input 
           class="input-img" 
           type="text"
           name="image" 
           placeholder="Enter image url"
           formControlName="image"
           >
           <span> </span>
         </div>

         <ng-container *ngIf="form.get('image')?.touched">
          <p class="error" *ngIf="form.get('image')?.errors?.['required']">
            Image is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('image')?.errors?.['appImageValidator']"
          >
            Image is not valid!
          </p>
        </ng-container>

         <div class="input-container">
            <input 
            class="input-planet-type" 
            type="text"
            name="planetType" 
            placeholder="Enter Planet type"
            formControlName="planetType">
          </div>

          <ng-container *ngIf="form.get('planetType')?.touched">
            <p class="error" *ngIf="form.get('planetType')?.errors?.['required']">
            PlanetType is required!
            </p>
          </ng-container>

         <div class="input-container">
            <textarea 
            class="input-overview" 
            type="text" 
            name="overview"
            placeholder="Enter Planet overview"
            formControlName="overview"
            >
          </textarea>

          <ng-container *ngIf="form.get('overview')?.touched">
            <p
              class="error"
              *ngIf="form.get('overview')?.errors?.['required']"
            >
              Overview is required!
            </p>
            <p
              class="error"
              *ngIf="form.get('overview')?.errors?.['minlength']"
            >
              Overview must be least than
              {{
                form.get('overview')?.errors?.['minlength']?.['requiredLength']
              }}
              characters!
            </p>
            <p
              class="error"
              *ngIf="form.get('overview')?.errors?.['maxlength']"
            >
              Overview must be less than
              {{
                form.get('overview')?.errors?.['maxlength']?.['requiredLength']
              }}
              characters!
            </p>
          </ng-container>
         </div>
         <button [disabled]="form.invalid" type="submit" class="submit">
           <span class="sign-text">Create</span>
         </button>
      </form>
   
    </div>
</body>
