<body>
   
    <div class="title">
        <h1>PLANETS</h1>
    </div>
    <div class="dynamic-data">

   
        <div class="planets" *ngIf="!thereAreNoPlanets">
            <div class="palnet" *ngFor="let planet of planetsList">
                <div class="image">
                    <a>
                        <img src="{{planet.image}}" 
                    alt="img">
                    </a>
                    <div class="planets-name">
                        <a routerLink="/planets/:planetId">
                            <h4>{{planet.name}}</h4>
                        </a>
                    </div>
                </div> 
            </div>
            
        </div>

        <article class="not-available-photo" *ngIf="thereAreNoPlanets">
            
                <h3>No uploaded Planet yet!</h3>
                <a routerLink="/create/planet">Create Planet</a>
            
        </article>
    
    </div>


</body>
