<body>
   
    <div class="title">
        <h1>Moons</h1>
    </div>
    <div class="dynamic-data">

   
        <div class="moons" *ngIf="thereAreNoMoons">
            <div class="moon" *ngFor="let moon of moonsList">
                <div class="image">
                    <a routerLink="/moons/moonId">
                        <img src="{{moon.image}}" 
                    alt="img">
                    </a>
                    <div class="moons-name">
                        <a routerLink="/moons/:moonId">
                            <h4>{{moon.name}}</h4>
                        </a>
                    </div>
                </div> 
            </div>
            
        </div>

        <article class="not-available-photo" *ngIf="!thereAreNoMoons">
            
                <h3>No uploaded Moons yet!</h3>
                <a routerLink="/create/moon">Create Moons</a>
            
        </article>
    
    </div>


</body>
