<body>
    <nav>
        <header>
            <img class="logo"
                routerLink="/"
                src="https://cdn-icons-png.flaticon.com/512/947/947683.png"
                alt="logo">

            <ul class="nav_links">

                <li><a routerLink="/planets">Planets</a></li>
                <li><a routerLink="/moons">Moons</a></li>
                <li *ngIf="isLoggedIn"><a routerLink="/create/planet">Create Planet</a></li>
                <li *ngIf="isLoggedIn"><a routerLink="/create/moon">Create Moon</a></li>
                <li *ngIf="isLoggedIn"><a routerLink="/users/profile">Profile</a></li>

            </ul>
            <div class="logout-user" *ngIf="!isLoggedIn">
                <a class="btn1" routerLink="/users/login"><button>Login</button></a>
                <a class="btn2" routerLink="/users/register"><button>Register</button></a>
            </div>
            
            <div class="login-user" *ngIf="isLoggedIn">
                <a class="btn2" (click)="logout()"><button>Logout</button></a>  
            </div>
            
      </header>
    </nav>
</body>
