<body>
    <nav>
        <header>
            <img class="logo"
                routerLink="/"
                src="https://cdn-icons-png.flaticon.com/512/947/947683.png"
                alt="logo">

            <ul class="nav_links">

                <li><a routerLink="/planets">Planets</a></li>
                <li><a routerLink="/moons">Moons</a></li>
                <li><a routerLink="/create/planet">Create Planet</a></li>
                <li><a routerLink="/create/moon">Create Moon</a></li>
                <li><a routerLink="/users/:id/profile">Profile</a></li>

            </ul>

            <a class="btn1" routerLink="/users/login"><button>Login</button></a>
            <a class="btn2" routerLink="/users/register"><button>Register</button></a>  
      </header>
    </nav>
</body>
