<body>
    <div class="container">
        
    <form class="form" method="post">
        <div class="form-title"><span>Register to your</span></div>
         <div class="title-2"><span>SPACE</span></div>
         <div class="input-container">
            <input class="input-username" type="username" placeholder="Enter username">
          </div>
         <div class="input-container">
           <input class="input-mail" type="email" placeholder="Enter email">
           <span> </span>
         </div>
         <div class="input-container">
           <input class="input-pwd" type="password" placeholder="Enter password">
         </div>
         <div class="input-container">
            <input class="input-re-pwd" type="re-password" placeholder="Repeat password">
          </div>
         <button type="submit" class="submit">
           <span class="sign-text">Register</span>
         </button>
   
         <p class="signup-link">
           Have accaunt?
           <a routerLink="/users/login" class="up">Login</a>
         </p>
          
      </form>
   
    </div>
</body>